body {
width: 1920px;
height: 1080px;
margin: auto;}

.title {
    position: relative;
     width: 200px;
    height: 40px;
    font-size: 40px;
    margin-left: 100px;
    border: none;
}
.accordeon {
    position: relative;
    width: 400px;
    height: 320px;
    margin-left: 100px;
    margin-top: 30px;
    border: solid;
    border-color:blueviolet;
    border-width: 3px;
    border-radius: 10px;   
}

.cry, .dive, .back, .encaps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 80px;
    font-size: 20px;
    border-width: 2px;
    border-bottom: solid;
    border-color: blueviolet;
    border-width: 1px;
}
.encaps {border: none;}
.piccry, .picback, .picdive, .picencaps {
    display: none;
}
.accordeon:hover {height: 700px;}
.cry:hover .piccry {
position: relative;
display: block;
object-fit: cover;
top: 50px;
width: 400px;
opacity: 1;
transition: 2s ease-out;
}
.cry:hover {
height: 400px
}
.dive:hover .picdive {
    position: relative;
    display: block;
    object-fit: cover;
    width: 400px;
    opacity: 1;
    transition: 2s;
}
.dive:hover{height: 400px;}
.back:hover .picback {
    position: relative;
    display: block;
    object-fit: cover;
    width: 400px;
    opacity: 1;
    transition: 2s;
}
.back:hover {height: 400px;}
.encaps:hover .picencaps {
    position: relative;
    display: block;
    object-fit: cover;
    width: 400px;
    opacity: 1;
    transition: 2s;
}
.encaps:hover {height: 400px;}
